target/

### IntelliJ IDEA ###
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Salesforce DX (you accidentally committed this earlier)
.sfdx/

# Database file
*.db

# Java / build output (important for JavaFX projects)
target/
out/
bin/

# IntelliJ IDEA (you already have most, but this is fine too)
.idea/
*.iml